# Global codeowners
package.json @fongfan999 @TungLam111
wrangler.jsonc @fongfan999 @TungLam111
src/index.js @fongfan999 @TungLam111
src/routes @fongfan999 @TungLam111
src/middlewares @fongfan999 @TungLam111

# ESLint configuration files
eslint.config.mjs @fongfan999 @TungLam111
eslint/ @fongfan999 @TungLam111

# Database
prisma/ @fongfan999 @TungLam111
src/services/database.js @fongfan999 @TungLam111
