BEARER_TOKEN=123456
JEMMIA_ERP_API_SECRET=
JEMMIA_ERP_API_KEY=
JEMMIA_ERP_BASE_URL=
HARAVAN_WEBHOOK_SECRET=
LARKSUITE_APP_ID=
LARKSUITE_APP_SECRET=
AI_HUB_ACCESS_TOKEN=
STRINGEE_API_KEY_SID=
STRINGEE_API_KEY_SECRET=
FRAPPE_WEBHOOK_SECRET=
